ul, li {
  text-align: center;
}

li {
  list-style-type: none;
}

ul li {
  background: #cce5ff;
  padding: 0.3em;
  width: 40%;
  margin: 0 auto;
  margin-top: 0.8em;
  border-radius: 5%;
  font-size: 1em;
}

#filter {
  padding: 1em;
  background: #e7e7e7;
  border-radius: 2px;
  line-height: 30px;
  text-align: right;
  margin: 1em;
}

label {
  padding: 1em;
}

#filter input {
  padding: 8px;
 width: 300px;
 border: 1px solid #d4d4d4;
 border-radius: 2px;
 float: right;
 font-size: 1em;
}
